.calc{
    height: 435px;
    width: 400px;
    background: gray;
    margin-left: 560px;
    border-radius: 5px;
}
#inp{
    width: 85%;
    margin-left: 30px;
    border: none;
    height: 40px;
    margin-top: 20px;
    pointer-events: none;
    border-radius: 50px;
}
.row{
    
}
.btn{
    height: 40px;
    width: 60px;
    margin-left: 30px;
    margin-top: 30px;
    background: coral;
}